$main-color: #B2D8D7;
$second-color: #9C6269;
$third-color: #FFC646;
$forth-color: #FD9429;
.search-section{
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .selected-platform{
        margin-top: 10px;
        color:white;
        font-size: 24px;
        padding: 3px;
    }

    .platforms{
        padding: 15px;
        display: flex;
        .platform{
            color: #eee;
            background-color: $forth-color;
            border-radius: 3px;
            padding: 5px;
            margin: 5px;
            cursor: pointer;
            &:hover{
                background-color: $third-color;
            }
        }
    }

    @media screen and (max-width: 640px){
            .platforms{
                padding: 10px;
                .platform{
                    padding: 2px;
                    margin: 2px;
                    font-size: 14px;
                }
            }
    }
    @media screen and (max-width: 320px){
            .platforms{
                padding: 10px;
                flex-direction: column;
                .platform{
                    padding: 2px;
                    margin: 2px;
                    font-size: 14px;
                }
            }
        }
}