.home-page{
    background-color: #070024;
    background-image: url("../../assets/background.jpg");
    background-position: center;
    background-size: cover;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image{
        height: 60vh;
        display: none;
    }

    .home-btn-container{
        display: flex;

        .home-btn {
            background-image: linear-gradient(to right, #006A69, #004368);
            border-radius: 25px;
            border: 1px solid #FFC646;
            color: #FFC646;
            margin: 0 10px;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            &:hover {
                background-color: #FFC646;
                color: #9C6269;
              }
          }
    }
    @media screen and (max-width:640px){
        .image{
            width: 98vw;
            height: auto;
        }
    }
}