.check-out-container {
    min-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#070024,#000000);
    color: white;

    .checkout-table{

        th{
            padding: 20px;
            font-size: 24px;
        }
        td{
            padding: 10px 20px;
            text-transform: capitalize;
        }
        .checkout-image{
            width: 50px;
        }
    }

    .checkout-total{
        font-size: 28px;
        font-weight: bold;
    }

    .test-warning{
        color: #ff4444;
        margin: 30px;
    }


    @media screen and (max-width: 640px) {
        .checkout-table{
            margin: 10px;
            th{
                padding: 5px;
                font-size: 18px;

            }
            td{
                padding: 5px 5px;
            }
            .checkout-item-platform{
                display: none;
            }
        }
    
        .checkout-total{
            font-size: 30px;
        }
    
        .test-warning{
            margin: 10px;
        }
    }
    
}