$gray: #333;
$white: #ccc;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray;
  color: $white;
  height: 6vh;
  padding: 10px 100px;
  border-bottom: #FD9429 solid 3px;
  .logo {
    height: 4vh;
    cursor: pointer;
  }

  .nav-item {
    font-size: 20px;
    color: white;
    cursor: pointer;
    &:hover{
      color: #FD9429;
    }

  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    li {
      padding: 0 10px;
    }
  }
}
