.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 0 20px;
    margin-bottom: 50px;

    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;

        li{
            padding: 0 3px;
        }
    }
}