$main-color: #13C2C0;
$second-color: #9C6269;
$third-color: #FFC646;
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6C3739;
    color: $third-color;
    font-size: 18px;
    padding: 10px 0;
    height: 6vh;
    border-top: #FD9429 solid 3px;
    
    @media screen and (max-width: 375px){
        font-size: 16px;
        
    }
}