*{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.flash-msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #070024;
}