$main-color: #B2D8D7;
$second-color: #9C6269;
$third-color: #FFC646;
.wrapper{
    min-height: 84vh;
    background-color: $main-color;
    padding-bottom: 50px;
    .inventory{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 10vw;
        margin-top: 40px;
    }
    .search-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $main-color;

        .selected-platform{
            margin-top: 10px;
        }

        .platforms{
            padding: 15px;
            .platform{
                color: #eee;
                background-color: #777;
                border-radius: 3px;
                padding: 5px;
                margin: 5px;
                cursor: pointer;
                &:hover{
                    background-color: #999;
                }
            }
            .all{
                border: 2px solid #fff;
            }
            .xbox{
                border: 2px solid #00AC00;
            }
            .playstation{
                border: 2px solid #004DA7;
            }
        }

        #search{
            width: 70vw;
            height: 30px;
            font-size: 20px;
            margin-top: 5px;
            margin-bottom: 25px;
        }
    }
}