$main-color: #B2D8D7;
$second-color: #9C6269;
$third-color: #FFC646;
$forth-color: #FD9429;
.wrapper{
    min-height: 84vh;
    background-color: $main-color;
    .inventory{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 10vw;
        padding: 30px 0;
    }
    .search-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $main-color;

        .selected-platform{
            margin-top: 10px;
            color:white;
            font-size: 24px;
            padding: 3px;
        }

        .platforms{
            padding: 15px;
            display: flex;
            .platform{
                color: #eee;
                background-color: $forth-color;
                border-radius: 3px;
                padding: 5px;
                margin: 5px;
                cursor: pointer;
                &:hover{
                    background-color: $third-color;
                }
            }
        }

        #search{
            width: 70vw;
            height: 30px;
            font-size: 20px;
            margin-top: 5px;
        }
    }

    @media screen and (max-width: 375px){
        .inventory{
            padding: 5px 0;
        }
        .search-section{
            .platforms{
                padding: 10px;
                .platform{
                    padding: 2px;
                    margin: 2px;
                    font-size: 14px;
                }
            }
            #search{
                width: 90vw;
                height: 30px;
                font-size: 16px;
                margin-top: 5px;
            }
        }
    }
}